

// ----------------色設定----------------------

$color_1:rgb(54, 54, 54);
$color_2:rgb(110, 110, 110);
$color_3:rgb(243, 243, 243);

$color_dv1:rgb(0, 60, 133);
$color_dv2:rgb(248, 253, 255);

$color_te1:rgb(145, 1, 1);
$color_te2:rgb(255, 250, 250);

$color_gr1: rgb(61, 112, 31);
$color_gr2: rgb(252, 255, 250);

// ----------------その他----------------------

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

#user_password {
  font-family:inherit;
}

