

-# %header
-#   %a{ :href => '/'} Malls

.contents
  .content
    .about-malls
      %p Mallsとは、、
      %p ”商業施設へ出店したい店舗”と”出店者を募集している商業施設所有者”をマッチングできるサービスです。
      %p ・ECと平行した実店舗による出店で、マーケティング調査を実施したい
      %p ・新規の商業施設を開業する予定だが、想定来館者に響くようなテナントを誘致したい
      %p といったご要望を解決するソリューションサービスです。
      %p 弊社は、世に蔓延る「汗かくことを正義とする営業マン」の削減に挑戦します！


    .space-list
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
      .space-list__box
        %p 所在地：大阪府大阪市北区天神橋〜〜〜
        %p 施設名称：ろろぽーと
        %p フロア：2F
-# %footer
-#   %p Copyright © Ryo Nakajima All Rights Reserved.