

-# %header
-#   %a{ :href => '/'} Malls

.contents
  .content
    .about-malls
      %p Mallsとは、、
      %p ”商業施設へ出店したい店舗”と”出店者を募集している商業施設所有者”をマッチングできるサービスです。
      %p ・ECと平行した実店舗による出店で、マーケティング調査を実施したい
      %p ・新規の商業施設を開業する予定だが、想定来館者に響くようなテナントを誘致したい
      %p といったご要望を解決するソリューションサービスです。
      %p 弊社は、世に蔓延る「汗かくパフォーマンスを正義とする営業マン」の削減に挑戦します！


    .space-list
      - @spaces.each do |space|
        .space-list__box
          所在地：
          = space.location
          施設名称：
          = space.mall_name
          フロア：
          = space.floor
