.section
  .title
    %h3 #{@user.name}さんの投稿
  - if @user.genre == "developer"
    - @spaces.each do |space|
      = render partial: "spaces/space", locals: { space: space }
  - else
    - @brands.each do |brand|
      = render partial: "brands/brand", locals: { brand: brand }
      