// ---------------- index -------------------
.section {
  margin: 10px;
  padding: 5px;
  border: solid 1px black;
  background-color: white;
  line-height: 1.5em;
  .space, .brand {
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
    position: relative;
    &__item {
      width: 400px;
    }
  }
  .btn {
    position: absolute;
    right: 15px;
    top: 5px;
  }
  #space { background-color: $color_dv2; }
  #brand { background-color: $color_te2; }
}

// ----------------- show ---------------------

.title {
  display: flex;
  margin: 30px;
  h1 {
    padding-right: 24px;
  }
  &__icon, p {
    font-size: 32px;
    line-height: 32px;
    padding-left: 10px;
    a {
      color: $color_1;
    }
    a:hover {
      background-color: unset;
    }
  }
}
.show {
  margin: 30px;
  display: flex;
  &__left {
    width: 500px;
  }
}