.top {
  padding-top: 30px;
  &.top-back {
    background: image-url('malls_back.jpg');
    background-size: cover;
  }
  &__slick {
    img {
      margin: 0 auto;
    }
  }
  &__link {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    .btn {
      border-radius: 10px;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
      a {
        font-size: 28px;
        display: inline-block;
        width: 350px;
        color: white;
        text-align: center;
        line-height: 150px;
        border-radius: 100px;
      }
      &.left { background-color: $color_dv1;}
      &.right { background-color: $color_te1;}
    }
  }
  &__about {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    h3 {
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    p {
      padding: 10px 0;
      font-size: 18px;
    }
  }
}