.top {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__btn {
    width: 400px;
    height: 400px;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    a {
      font-size: 32px;
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 400px;
      padding: 0;
    }
  }
  &__btn:first-of-type{ background-color: $color_dv1; }
  &__btn:last-of-type { background-color: $color_te1; }
}