// -------------------- デバイス関連 ----------------------

.account-page {
  line-height: 2em;
  &__form-title {
    h2 {
      margin: 10px;
    }
  }
  &__form-box {
    padding: 15px;
    font-size: 16px;
    &__field input {
      width: 300px;
      height: 25px;
      margin: 5px;
    }
    &__actions input {
      height: 30px;
      width: 80px;
      margin: 15px;
      &:hover {
        cursor: pointer;
        color: white;
        background-color: $color_1;
      }
    }
  }
}


// --------------ユーザーページ-----------------------

.title > .message {
  margin: 60px auto;
  width: 50%;
  a, input {
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    width: 100%;
    background-color: $color_gr1;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: $color_1;
      color: yellow;
      transition: 0.5s;
    }
  }
}