
// -------------フォント変更-----------------
@font-face {
  font-family: 'FLOP';
  src: asset_url('flopdesign.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  color:#000;
  background:#FFF;
  font-family: 'FLOP';
}

// ----------------色設定----------------------

$color_1:rgb(54, 54, 54);
$color_2:rgb(104, 104, 104);
$color_3:rgb(237, 237, 237);

$color_dv1:rgb(0, 90, 199);
$color_dv2:rgb(217, 245, 255);

$color_te1:rgb(191, 0, 0);
$color_te2:rgb(255, 235, 235);

// ----------------その他----------------------

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}