$color_1:rgb(128, 128, 128);
$color_2:rgb(211, 211, 211);

$color_dv1:rgb(0, 113, 189);
$color_dv2:rgb(173, 216, 230);

$color_te1:rgb(189, 123, 0);
$color_te2:rgb(230, 194, 173);
// -----------------------header-------------------------------

.header-dv {
  height: 60px;
  width: 100%;
  background-color: $color_dv1;
  line-height: 60px;
  position: relative;
  font-size: 24px;
  a.logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-left: 50px;
    display: inline-block;
    text-decoration: none;
  }
   a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 0 5px;
  }
  .link-list {
    position: absolute;
    right: 50px;
    top: 0px;
    display: flex;
    line-height: 60px;
    #name {
      padding-right: 20px;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0 10px;
      display: inline-block;
    }
    a:hover {
      background-color: $color_1;
    }
  }
}


.header-te {
  height: 60px;
  background-color: $color_te1;
  line-height: 60px;
  position: relative;
  font-size: 24px;
  a.logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-left: 50px;
    display: inline-block;
    text-decoration: none;
  }
   a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 0 5px;
  }
  .link-list {
    position: absolute;
    right: 50px;
    top: 0px;
    display: flex;
    line-height: 60px;
    #name {
      padding-right: 20px;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0 10px;
      display: inline-block;
    }
    a:hover {
      background-color: $color_1;
    }
  }
}


.header {
  height: 60px;
  background-color: black;
  line-height: 60px;
  position: relative;
  font-size: 24px;
  a.logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-left: 50px;
    display: inline-block;
    text-decoration: none;
  }
   a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 0 5px;
  }
  .link-list {
    position: absolute;
    right: 50px;
    top: 0px;
    display: flex;
    line-height: 60px;
    #name {
      padding-right: 20px;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0 10px;
      display: inline-block;
    }
    a:hover {
      background-color: $color_1;
    }
  }
}
// -----------------------------------contents--------------------------

.contents {
  background-color: $color_2;
  margin: 0 15px;
  padding: 15px 0;
}



.top {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
  line-height: 400px;
  &__left {
    width: 400px;
    height: 400px;
    background-color: $color_te1;
    margin: auto 0;
    &__btn {
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
  }
  &__right {
    width: 400px;
    height: 400px;
    background-color: $color_dv1;
    margin: auto 0;
    &__btn {
      font-weight: bold;
      color: white;
      text-decoration: none;
    }
  }

}

// -----------------------------footer-----------------------------

footer {
  height: 20px;
  width: 100%;
  background-color: $color_1;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
  p {
    font-size: 5px;
  }
}