
// -------------フォント変更-----------------
@font-face {
  font-family: 'FLOP';
  src: url('flopdesign.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  color:#000;
  background:#FFF;
  font-family: 'FLOP';
}

// -----------以下リセットCSS----------------
body, div, ul, li, h1, h2, h3, h4, h5, h6,
form, input, textarea, p, a, table, th, tr, td, 
img ,header, footer {
  margin: 0;
  padding: 0;
  border: 0;
}


.hidden {
  display: none;
}