
// -------------フォント変更-----------------
@font-face {
  font-family: 'FLOP';
  src: url('flopdesign.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  color:#000;
  background:#FFF;
  font-family: 'FLOP';
}

// -----------以下リセットCSS----------------
body, div, ul, li, h1, h2, h3, h4, h5, h6,
form, input, textarea, p, a, table, th, tr, td, 
img ,header, footer {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.hidden {
  display: none;
}

$color_1:rgb(37, 37, 37);
$color_2:rgb(104, 104, 104);
$color_3:rgb(211, 211, 211);

$color_dv1:rgb(0, 49, 139);
$color_dv2:rgb(173, 216, 230);

$color_te1:rgb(139, 0, 0);
$color_te2:rgb(230, 173, 173);