$color_0:rgb(0, 113, 189);
$color_1:rgb(173, 216, 230);
$color_2:rgb(128, 128, 128);
$color_3:rgb(211, 211, 211);



.contents {
  padding: 15px;
  .content {
    height: 100%;
    background-color: $color_3;
    .about-malls {
      height: 200px;
      font-size: 18px;
      background-color: white;
      padding: 15px;
      margin: 0 auto;
      margin-bottom: 15px;
      border: solid 2px $color_2;
      line-height: 1.5em;
      overflow-x: scroll;
      white-space: nowrap;
      p:first-of-type{
        font-size: 22px;
        padding-bottom: 8px;
      }
      p:last-child {
        color: red;
        font-weight: bold;
      }
    }


    .space-list, .brand-list{
      width: calc(90% + 30px);
      margin: 0 auto;
      border: solid 2px $color_2;
      &__box {
        margin: 15px;
        padding: 10px;
        background-color: $color_1;
        position: relative;
        display: flex;
        &__left {
          width: 400px;
          line-height: 1.5em;
          ul {
            li {
              text-decoration: none;
            }
          }
        }
        &__right {
        }
        .action-btn {
          font-size: 15px;
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
    }
  }

// --------------------new,edit-------------------------------

  .form {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    .form-title {
      font-size: 32px;
      font-weight: bold;
    }
    .form-square {
      border: solid 2px $color_2;
      font-weight: lighter;
      height: 450px;
      width: 700px;
      margin: 15px auto;
      padding: 30px;
      line-height: 1.5em;
      background-color: $color_3;
      .fa-image {
        font-size: 60px;
        cursor: pointer;

      }
      .send-btn {
        height: 50px;
        width: 80px;
        background-color: yellow;
        margin: 15px auto;
        text-align: center;
        border: solid black 2px;
        display: inline-block;
      }
    }
  }
}

.hidden {
  display: none;
}


// --------------------show---------------------

.space-show, .brand-show{
  width: 100%;
  &__title {
    font-size: 32px;
  }
  &__info {
    padding: 50px;
    font-size: 26px;
    line-height: 1.5em;
    display: flex;
    position: relative;
    &__map {
    right: 0px;
    }
  }
}